@import './header.css';
@import './modal.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  line-height: 1.6;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: 'Nunito', system-ui, sans-serif;
}

main {
  padding-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
}

h1,
h2 {
  text-align: center;
  color: var(--color-primary);
}

.reading-block {
  display: flex;
  gap: 0.75rem; /* space between items */
  align-items: center;
  margin: 0.25rem 0;
}
